
<!-- Start exclusive deal Area -->
	<section class="exclusive-deal-area">
		<h2 class="text-center mb-4">{{event.title}}</h2>
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-12">
					<div class="card my-5 border-0">
						<div class="head" style="background-image: url('{{ asset('uploads/images/' ~ event.image) }}')">
							<div class="row clock_sec clockdiv" id="clockdiv{{event.id}}">
								<div class="col-lg-12">
									<div class="row clock-wrap">
										<div class="col clockinner1 clockinner">
											<h2 class="days text-white">1</h2>
											<span class="smalltext text-muted">Jours</span>
										</div>
										<div class="col clockinner clockinner1">
											<h2 class="hours text-white">00</h2>
											<span class="smalltext text-muted" >Heure</span>
										</div>
										<div class="col clockinner clockinner1">
											<h2 class="minutes text-white">00</h2>
											<span class="smalltext text-muted">Min</span>
										</div>
										<div class="col clockinner clockinner1">
											<h2 class="seconds text-white">00</h2>
											<span class="smalltext text-muted">Sec</span>
										</div>
									</div>
								</div>
							</div>
							<div class="d-flex flex-wrap justify-content-between">
								<span>
								{{event.description}}
								</span>
								<!-- Navigation Buttons -->
								<div class="justify-content-center">
									<div class="scroll-buttons btn-group" role="group" aria-label="Controls">
										<button id="prevButton{{event.id}}" class="btn btn-outline-primary btn_icon"><i class="fa fa-chevron-left "></i></button>
										<button id="nextButton{{event.id}}" class="btn btn-outline-primary btn_icon"><i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							
						</div>
						<!-- Horizontal Scroll View -->
						<div class="scroll-container pt-4" id="courseScrollView{{event.id}}">
							{% for product in event.products %}
							<div class="single-product col-md-4 pt-3">

								<a href="{{ path('product_show', {'slug': product.slug}) }}" class="social-info">
									<div class="scene" style="height: 300px;width: 200px;">
										<div class="dvd-box">
											<div class="cover front" style="background-image: url('{{ asset('uploads/images/' ~ product.image) }}');">{{product.title}}</div>
											<div class="cover back"></div>
											<div class="spine"><span class="vertical-text">{{product.title}}</span></div>
										</div>
									</div>
								</a>
								<div class="product-details">
									<h6>{{product.title}}</h6>
									<div class="price">
										<h6>{{product.price}}</h6><h6> XAF</h6>
										<h6 class="l-through">{{product.originalPrice }} XAF</h6>
									</div>
									<div class="prd-bottom">

										<a href="{{path('shopcart_new', {'productId':product.id})}}" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">Ajouter au panier</p>
										</a>
										<a href="{{path('user_toggle_favorite', {'id': product.id })}}" class="social-info">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">Favorie</p>
										</a>
										{# <a href="" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">compare</p>
										</a> #}
										<a href="{{ path('product_show', {'slug': product.slug}) }}" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">voir plus</p>
										</a>
									</div>
								</div>
											
							</div>
							{% endfor %}
						</div>

					
					</div>
				</div>
			</div>
		</div>
	</section>
		<script src="{{asset('assets/client/js/countdown.js')}}"></script>
		<script>
			// Parse the event start and end times
			var startAt = new Date("{{ event.startAt | date('Y-m-d H:i:s') }}");
			var endAt = new Date("{{ event.endAt | date('Y-m-d H:i:s') }}");

			// Calculate the total event duration (in milliseconds)
			var totalDuration = endAt - startAt;

			// Calculate the time elapsed since the event started
			var now = new Date();
			var timeElapsed = now - startAt;

			// Calculate the remaining time by subtracting the elapsed time from the total duration
			var remainingTime = totalDuration - timeElapsed;

			// Set the deadline to the current time plus the remaining time
			var deadline = new Date(now.getTime() + remainingTime);
			initializeClock('clockdiv{{event.id}}', deadline);
			function initScroll(IDelem) {
			const scrollView = document.getElementById('courseScrollView' + IDelem);
			const prevButton = document.getElementById('prevButton' + IDelem);
			const nextButton = document.getElementById('nextButton' + IDelem);

			prevButton.addEventListener('click', () => {
				scrollView.scrollBy({ left: -300, behavior: 'smooth' });
			});

			nextButton.addEventListener('click', () => {
				scrollView.scrollBy({ left: 300, behavior: 'smooth' });
			});
		}
		
			initScroll('{{event.id}}')
			
		</script>

	<!-- End exclusive deal Area -->