{% extends 'homebase.html.twig' %}

{% block title %}Muzeum | Devenir Partenaire{% endblock %}
{% block keywords %}{{setting[0].keywords}}{% endblock %}
{% block description %}{{setting[0].description}}{% endblock %}

{% block body %}
<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Partenaire Avec Muzeum</h1>
					<nav class="d-flex align-items-center">
						<p>Nous sommes engagés à devenir partenaire avec des leaders technologiques. </p>
					</nav>
				</div>
			</div>
		</div>
	</section>
<!-- End Banner Area -->
<!--================Contact Area =================-->
	<section class="contact_area section_gap_bottom">
		<div class="container">
    <h2 class="text-center my-4 display-4">Résultats</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow m-3">
                <div class="card-header" style="background-color:#828BB3;"><h3 class="text-center text-white"><i class="fa fa-users"></i> Autonomisez Vos Clients</h3></div>
                <div class="card-body">
                    <p><i class="fa fa-check text-primary"></i> Offrir des expériences d'apprentissage substantielles et significatives sur votre technologie, ainsi que du contenu complémentaire pertinent, est essentiel pour garantir le succès de vos clients.</p>
                    <p><i class="fa fa-check text-primary"></i> En collaborant avec Muzeum pour proposer des expériences d'apprentissage pratiques, de classe mondiale et éprouvées, vous permettrez à vos clients de mieux consommer vos solutions et de maximiser la valeur, générant ainsi un retour sur investissement rapide.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow m-3">
                <div class="card-header" style="background-color:#828BB3;"><h3 class="text-center text-white"><i class="fa fa-area-chart"></i> Accélérez Votre Entreprise</h3></div>
                <div class="card-body">
                    <p><i class="fa fa-check text-primary"></i> Maximisez l'impact de vos lancements de produits en proposant des formations personnalisées sur votre technologie en collaboration avec Muzeum, garantissant que vos clients sont prêts à tirer parti de vos solutions dès le premier jour.</p>
                    <p><i class="fa fa-check text-primary"></i> Collaborez avec Muzeum pour introduire votre technologie via des cours de classe mondiale, afin que vos employés, prospects ou clients soient formés et prêts à s'engager dès le départ.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow m-3">
                <div class="card-header" style="background-color:#828BB3;"><h3 class="text-center text-white"><i class="fa fa-rocket"></i> Partenaire pour le Succès</h3></div>
                <div class="card-body">
                    <p><i class="fa fa-check text-primary"></i> Il n'existe pas de solution unique pour la croissance et le succès des entreprises. Grâce à notre organisation de partenariat, nous avons aidé nos clients à être créatifs et à exploiter des apprentissages internes, externes, personnalisés, standards et plus encore pour répondre et dépasser les attentes des dirigeants.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow m-3">
                <div class="card-header" style="background-color:#828BB3;"><h3 class="text-center text-white"><i class="fa fa-desktop"></i> Offrez une Main-d'œuvre Formée sur Votre Technologie</h3></div>
                <div class="card-body">
                    <p><i class="fa fa-check text-primary"></i> Répondez à la pénurie de talents en collaborant avec Muzeum pour créer des formations spécialisées sur vos solutions, fournissant des praticiens qualifiés pour alimenter la croissance de vos clients.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow m-3">
                <div class="card-header" style="background-color:#828BB3;"><h3 class="text-center text-white"><i class="fa fa-line-chart"></i> Augmentez Vos Revenus et Vos Offres</h3></div>
                <div class="card-body">
                    <p><i class="fa fa-check text-primary"></i> Stimulez la croissance de vos revenus en revendant les programmes d'apprentissage de pointe de Muzeum, augmentant ainsi la proposition de valeur pour vos clients et renforçant vos résultats. Non seulement cela génère des revenus, mais cela a également un impact significatif sur le succès de vos clients.
                        Collaborez avec Muzeum pour voir ce qui peut être accompli et comment nous pouvons contribuer à vos résultats tout en aidant vos clients à réussir.</p>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center my-4 display-4" ><b>4 Moyens</b> De Devenir Partenaire Avec Muzeum</h2>
	<div class="row">
    <div class="col-md-3">
        <div class="card border-o rounded m-1 px-3 bg-dark" style="height:400px;">
            <div class="card-body">
                <div class="rounded-circle bg-primary d-flex justify-content-center align-items-center" style="height:50px;width:50px;">
                    <p class="h4 text-center text-white">1</p>
                </div><br/>
                <p class="text-primary h4">Partenariat de Contenu Personnalisé</p><br/>
                <p class="text-white">Collaborez avec nous pour co-développer de nouveaux contenus qui améliorent les compétences numériques et technologiques de votre personnel.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-o rounded m-1 px-3 bg-dark" style="height:400px;">
            <div class="card-body">
                <div class="rounded-circle bg-success d-flex justify-content-center align-items-center" style="height:50px;width:50px;">
                    <p class="h4 text-center text-white">2</p>
                </div><br/>
                <p class="text-success h4">Partenariat à Impact Social</p><br/>
                <p class="text-white">Créez des impacts significatifs dans vos efforts d'inclusion, diversité et équité.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-o rounded m-1 px-3 bg-dark" style="height:400px;">
            <div class="card-body">
                <div class="rounded-circle bg-warning d-flex justify-content-center align-items-center" style="height:50px;width:50px;">
                    <p class="h4 text-center text-white">3</p>
                </div><br/>
                <p class="text-warning h4">Partenariat d'Affiliation Stratégique</p><br/>
                <p class="text-white">Rejoignez-nous en tant que partenaire affilié pour enrichir vos offres en revendant ou en promouvant les produits éducatifs de pointe de Muzeum.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-o rounded m-1 px-3 bg-dark" style="height:400px;">
            <div class="card-body">
                <div class="rounded-circle bg-info d-flex justify-content-center align-items-center" style="height:50px;width:50px;">
                    <p class="h4 text-center text-white">4</p>
                </div><br/>
                <p class="text-info h4">Co-marketing</p><br/>
                <p class="text-white">Comment nous allons sur le marché ensemble.</p>
            </div>
        </div>
    </div>
</div>
<div class="text-center mt-5">
	<button type="button" class="btn primary-btn" data-toggle="modal" data-target="#exampleModalCenter">
	Partenariat Avec Muzeum
	</button>
</div>
{{include('partners.html.twig')}}

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Inscrivez-vous pour devenir partenaire avec Muzeum</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        {{ include('messages.html.twig') }}
        
			<div class="col-lg-12">
				<form class="row contact_form" method="post" id="contactForm">
					<div class="col-md-12">
						<div class="form-group">
							<input type="text" class="form-control" id="name" name="messages[name]" placeholder="Entrez votre nom" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Entrez votre nom'" required>
						</div>
						<div class="form-group">
							<input type="email" class="form-control" id="email" name="messages[email]" placeholder="Entrez votre email professionnel" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Entrez votre email professionnel'" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="subject" name="messages[subject]" placeholder="Quel défi Muzeum peut-il vous aider à relever ?" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Quel défi Muzeum peut-il vous aider à relever ?'" required>
						</div>
						<div class="form-group">
							<textarea class="form-control" name="messages[message]" id="message" rows="1" placeholder="Entrez votre message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Entrez votre message'" required></textarea>
						</div>
					</div>
				
					<div class="text-center">
						<input type="hidden" name="token" value="{{ csrf_token('form-message') }}">
						<button type="submit" value="submit" class="primary-btn">Soumettre</button>
					</div>
				</form>
			</div>
    	</div>
      </div>
	  <div class="modal-footer">
	  	<p>En cliquant sur « Soumettre », je consens à recevoir des communications marketing de la part de Muzeum, ce qui peut inclure des messages électroniques, des messages textuels et des appels téléphoniques de la part de Muzeum à l'adresse électronique et au numéro de téléphone indiqués ci-dessus. Les tarifs des appels et des messages peuvent s'appliquer. Je reconnais également que mes données seront utilisées conformément aux conditions d'utilisation et à la politique de confidentialité de Muzeum, y compris les dispositions d'exclusion pertinentes qui y figurent.</p>
	  </div>
     
    </div>
  </div>
</div>
    
</div>

	</section>
	<!--================Contact Area =================-->
    {% endblock %}
