{% extends 'homebase.html.twig' %}

{% block title %}Muzeum | Devenir Partenaire{% endblock %}
{% block keywords %}{{setting[0].keywords}}{% endblock %}
{% block description %}{{setting[0].description}}{% endblock %}

{% block body %}
<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Partenaire Avec Muzeum</h1>
					<nav class="d-flex align-items-center">
						<p>Nous sommes engagés à devenir partenaire avec des leaders technologiques. </p>
					</nav>
				</div>
			</div>
		</div>
	</section>
<!-- End Banner Area -->
<!--================Contact Area =================-->
	<section class="contact_area section_gap_bottom">
		<div class="container">
    <h2 class="text-center my-4">Résultats</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow m-3">
                <div class="card-header" style="background-color:#828BB3;"><h3 class="text-center text-white">Autonomisez Vos Clients</h3></div>
                <div class="card-body">
                    <p><i class="fa fa-check text-primary"></i> Offrir des expériences d'apprentissage substantielles et significatives sur votre technologie, ainsi que du contenu complémentaire pertinent, est essentiel pour garantir le succès de vos clients.</p>
                    <p><i class="fa fa-check text-primary"></i> En collaborant avec Muzeum pour proposer des expériences d'apprentissage pratiques, de classe mondiale et éprouvées, vous permettrez à vos clients de mieux consommer vos solutions et de maximiser la valeur, générant ainsi un retour sur investissement rapide.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow m-3">
                <div class="card-header" style="background-color:#828BB3;"><h3 class="text-center text-white">Accélérez Votre Entreprise</h3></div>
                <div class="card-body">
                    <p><i class="fa fa-check text-primary"></i> Maximisez l'impact de vos lancements de produits en proposant des formations personnalisées sur votre technologie en collaboration avec Muzeum, garantissant que vos clients sont prêts à tirer parti de vos solutions dès le premier jour.</p>
                    <p><i class="fa fa-check text-primary"></i> Collaborez avec Muzeum pour introduire votre technologie via des cours de classe mondiale, afin que vos employés, prospects ou clients soient formés et prêts à s'engager dès le départ.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow m-3">
                <div class="card-header" style="background-color:#828BB3;"><h3 class="text-center text-white">Partenaire pour le Succès</h3></div>
                <div class="card-body">
                    <p><i class="fa fa-check text-primary"></i> Il n'existe pas de solution unique pour la croissance et le succès des entreprises. Grâce à notre organisation de partenariat, nous avons aidé nos clients à être créatifs et à exploiter des apprentissages internes, externes, personnalisés, standards et plus encore pour répondre et dépasser les attentes des dirigeants.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow m-3">
                <div class="card-header" style="background-color:#828BB3;"><h3 class="text-center text-white">Offrez une Main-d'œuvre Formée sur Votre Technologie</h3></div>
                <div class="card-body">
                    <p><i class="fa fa-check text-primary"></i> Répondez à la pénurie de talents en collaborant avec Muzeum pour créer des formations spécialisées sur vos solutions, fournissant des praticiens qualifiés pour alimenter la croissance de vos clients.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow m-3">
                <div class="card-header" style="background-color:#828BB3;"><h3 class="text-center text-white">Augmentez Vos Revenus et Vos Offres</h3></div>
                <div class="card-body">
                    <p><i class="fa fa-check text-primary"></i> Stimulez la croissance de vos revenus en revendant les programmes d'apprentissage de pointe de Muzeum, augmentant ainsi la proposition de valeur pour vos clients et renforçant vos résultats. Non seulement cela génère des revenus, mais cela a également un impact significatif sur le succès de vos clients.
                        Collaborez avec Muzeum pour voir ce qui peut être accompli et comment nous pouvons contribuer à vos résultats tout en aidant vos clients à réussir.</p>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center mb-4"><b>Inscrivez-vous dès aujourd'hui et donnez à votre livre la visibilité qu'il mérite !</b></h2>
    <div class="row">
        {{ include('messages.html.twig') }}
        <div class="col-lg-3">
            <div class="contact_info">
                <div class="info_item">
                    <i class="lnr lnr-home"></i>
                    <h6>À travers le monde</h6>
                    <p>Disponible du Lundi au Vendredi</p>
                </div>
                <div class="info_item">
                    <i class="lnr lnr-envelope"></i>
                    <h6><a href="#">{{setting[0].email}}</a></h6>
                    <p>Envoyez-nous vos messages à tout moment !</p>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <form class="row contact_form" method="post" id="contactForm" novalidate="novalidate">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="messages[name]" placeholder="Entrez votre nom" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Entrez votre nom'">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="messages[email]" placeholder="Entrez votre email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Entrez votre email'">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" name="messages[subject]" placeholder="Entrez le sujet" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Entrez le sujet'">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea class="form-control" name="messages[message]" id="message" rows="1" placeholder="Entrez votre message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Entrez votre message'"></textarea>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <input type="hidden" name="token" value="{{ csrf_token('form-message') }}">
                    <button type="submit" value="submit" class="primary-btn">Envoyez Mon Message</button>
                </div>
            </form>
        </div>
    </div>
</div>

	</section>
	<!--================Contact Area =================-->
    {% endblock %}
