{% extends 'homebase.html.twig' %}

{% block title %}{{setting[0].title}}{% endblock %}
{% block keywords %}{{setting[0].keywords}}{% endblock %}
{% block description %}{{setting[0].description}}{% endblock %}
{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block body %}
	{% if events|length > 0 %}
		
		{% for event in events %}
			{% include('home/blackfriday.html.twig')%}
		{% endfor %}
    {% else %}
        <div class="col-12">
						<blockquote class="generic-blockquote">
							Aucune promotion en cours!
						</blockquote>
					</div>
	{% endif %}
	<!-- start features Area -->
	{{ include('features.html.twig') }}
	<!-- end features Area -->


{% endblock %}

 {% block javascripts %} 
{{parent()}}
<script>
$("#price-range").on("click",function(){
	$("#productList .single-product").filter(function (index){
		
		if( $(this).data("price") >= parseInt($("#lower-value").text(),10) && $(this).data("price") <= parseInt($("#upper-value").text(),10)){
			$(this).show()
		} else{
			$(this).hide()
		}

	})		
})

</script>
{% endblock %} 