	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>A propos</h6>
						<p>
						
							{{setting[0].description}}
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Contactez Nous</h6>
						<p></p>
						<div class="" id="mc_embed_signup">

							<p><i class="fa fa-phone"></i> {{setting[0].phone}}</p>
							<p><i class="fa fa-envelope"></i>{% if setting is defined %} {{setting[0].email}} {% endif %}</p>
						</div>
					</div>
				</div>
				
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Suivez nous</h6>
						<div class="footer-social d-flex align-items-center">
						{% if setting is defined %}
							<a href="{{setting[0].facebook}}"><i class="fa fa-facebook"></i></a>
							<a href="{{setting[0].twitter}}"><i class="fa fa-twitter"></i></a>
							<a href="{{setting[0].instagram}}"><i class="fa fa-instagram"></i></a>
						{% endif %}
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<img src="{{asset('assets/client/img/logo.png')}}" style=" width:auto;" alt="muzeum-logo">
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->
	<!-- WhatsApp Floating Button -->
    <a href="#" class="whatsapp-btn" id="whatsappButton">
        <img src="{{asset('assets/client/img/whatsapp.svg')}}" alt="WhatsApp Icon">
    </a>

    <!-- Message Input Box -->
    <div class="message-box" id="messageBox">
        <div class="input-container">
            <input type="text" id="whatsapp-message" placeholder="Saisissez votre message...">
            <button onclick="sendWhatsAppMessage()">Envoyer</button>
        </div>
    </div>
	{% if app.user %}
	<!-- Cart Button -->
	<div id="cart-button" class="floating-cart">
		<a href="{{path('shopcart_index')}}" class="link" id="cart-link">
			<span class="ti-bag"></span>
			<span class="h6" id="cart-count">0</span> <!-- Number of items in cart -->
		</a>
	</div>
	{% endif %}
