{% extends 'homebase.html.twig' %}

{% block title %}Privacy Policy | {{setting[0].title}}{% endblock %}
{% block keywords %}{{setting[0].keywords}}{% endblock %}
{% block description %}{{setting[0].description}}{% endblock %}

{% block body %}
<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Privacy Policy</h1>
					<nav class="d-flex align-items-center">
						<a href="{{path('home')}}">Acceuil<span class="lnr lnr-arrow-right"></span></a>
						<a href="{{path('home_privacy')}}">Privacy Policy</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
<!-- End Banner Area -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="blog-post-area">

                        <div class="single-blog-post">
                            {{ setting[0].reference | raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
