{% extends 'homebase.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}
{% block keywords %}{{ product.keywords }}{% endblock %}
{% block description %}{{ product.description }}{% endblock %}
{% block meta %}
	<!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{product.title}}">
    <meta property="og:description" content="{{product.description}}">
    <meta property="og:image" content="{{ asset('uploads/images/' ~ product.image)}}">
    <meta property="og:url" content="{{path('product_show',{'id': product.id })}}">
    <meta property="og:type" content="product">
    <meta property="og:site_name" content="Muzeum.com">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="Formation">
    <meta name="twitter:title" content="{{product.title}}">
    <meta name="twitter:description" content="{{product.description}}">
    <meta name="twitter:image" content="{{ asset('uploads/images/' ~ product.image)}}">
    {# <meta name="twitter:site" content="@YourTwitterHandle"> #}

{% endblock %}

{% block body %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1 style="color:black;">{{product.title}}</h1>
					<nav class="d-flex align-items-center">
						<a href="{{path('home', {'category': product.category.parent.id})}}" style="color:#222222;">{{product.category.parent.title}}<span class="lnr lnr-arrow-right"></span></a>
						<a href="{{path('home', {'category': product.category.id})}}" style="color:#222222;">{{product.category.title}}</a>
					</nav>
					
					<div class="row total_rate">
						<div class="col-12">
							<div class="box_total">
								<h5>Total</h5>
								<h4>{% if comments|length > 0 %}{% set foo = 0 %}{% for rs in comments %} {% set foo = foo + rs.rate %} {% endfor %} {{ (foo / comments|length)|number_format(1, '.', ',') }}{% endif %}</h4>
								<h6>({{comments|length}}) Notes</h6>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	
	<!--================Event Product Area =================-->
	{% if event is  not null %}
	<div class="sticky-header" style="z-index: 1000;">
		<div class="row">
			<div class="col-lg-12 no-padding exclusive-left" style="background-repeat: no-repeat; background-size: cover; background-image: url('{{ asset('uploads/images/' ~ event.image) }}')">
				<div class="row clock_sec clockdiv" style="background: linear-gradient(45deg, violet, #00008B);" id="clockdiv{{event.id}}">
					<div class="col-lg-12">
						<h2 class="text-center">{{event.title}}</h2>
						<h3 class="text-center">Offre à -{{event.discount}}% pendant encore: </h3>
					</div>
					<div class="col-lg-12">
						<center>
							<div class="row clock-wrap" >
								<div class="col clockinner1 clockinner">
									<h1 class="days">1</h1>
									<span class="smalltext text-body">Jours</span>
								</div>
								<div class="col clockinner clockinner1">
									<h1 class="hours">00</h1>
									<span class="smalltext text-body">Heure</span>
								</div>
								<div class="col clockinner clockinner1">
									<h1 class="minutes">00</h1>
									<span class="smalltext text-body">Minutes</span>
								</div>
								<div class="col clockinner clockinner1">
									<h1 class="seconds">00</h1>
									<span class="smalltext text-body">Secondes</span>
								</div>
							</div>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<div class="sticky-header" style="z-index: 1000;">
		<div class="row">
			<div class="col-lg-12 no-padding exclusive-left">
				<div class="row clock_sec clockdiv" style="background: linear-gradient(45deg, violet, #00008B);
" id="clockdiv">
					<div class="col-lg-12">
						
						<h3 class="text-center">Offre à -80% pendant encore: </h3>
					</div>
					<div class="col-lg-12">
						<center>
							<div class="row clock-wrap" >
								<div class="col clockinner1 clockinner">
									<h1 class="days">1</h1>
									<span class="smalltext text-body">Jours</span>
								</div>
								<div class="col clockinner clockinner1">
									<h1 class="hours">00</h1>
									<span class="smalltext text-body">Heure</span>
								</div>
								<div class="col clockinner clockinner1">
									<h1 class="minutes">00</h1>
									<span class="smalltext text-body">Minutes</span>
								</div>
								<div class="col clockinner clockinner1">
									<h1 class="seconds">00</h1>
									<span class="smalltext text-body">Secondes</span>
								</div>
							</div>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
    	<!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="s_Product_carousel">
                    {% for rs in images %}
						<div class="single-prd-item">
							<img class="img-fluid" src="{{ asset('uploads/images/' ~ rs.image) | imagine_filter('detail_thumb') }}" style="height:555;width:600;" alt="{{rs.title}}">
						</div>
                    {% endfor %}
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
                <form name="shopcart" class="form-horizontal qtyFrm" action="{{ path('shopcart_new') }}" method="post">
					<div class="s_product_text">
						<!-- <h3>{{product.title}}</h3> -->
						
						<div class="row">
							<h2>{{product.price}} XAF</h2>
							&nbsp;
							<h4><del class="text-muted">{{product.originalPrice}} XAF</del></h4>
						</div>
						
						
						
						<ul class="list">
							<li><a href="#"><span>Disponibilité</span> : {% if product.amount %}{{product.amount}} place(s) restante(s){% else %} Fermé {% endif %}</a></li>
						</ul>
						{% if product.keywords %}
						<ul class="list">
							<li><span>Préréquis</span> : 
								
									{% set keys = product.keywords|split(',') %}
									{% for key in keys %}
									<span class="badge badge-pill badge-info">{{key}}</span>
									{% endfor %}
								
							</li>
						</ul>
						{% endif %}
						<p class="lead">{{product.description}}</p>
						<!-- <div class="product_count">
							<label for="qty">Quantité:</label>-->
                            <input type="hidden" name="shopcart[Q]" id="sst" class="input-text qty" value="1" placeholder="Qté" min="1" max="{{ product.amount }}">
                            <input type="hidden" name="shopcart[ID]" value="{{ product.id }}">
							<!--<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) && sst < {{product.amount}}) result.value++;return false;"
							 class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
							 class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
						</div> -->
                        <input type="hidden" name="token" value="{{ csrf_token('add-item') }}">
						<div class="card_area d-flex align-items-center">
							<button type="submit" class="primary-btn" style="border:none;" >Acheter Maintenant</button>
							<a class="icon_btn" href="{{path('user_toggle_favorite', {'id': product.id })}}"><i class="lnr lnr lnr-heart"></i></a>
						</div>
						<div class="card_area py-4">
							<a class="btn btn-primary" style="background-color:#828BB2;border:none;" href="{{path('product_download_roadmap',{'id': product.id }) }}" >Télécharger le programme d'étude</a>
						</div>
						
					</div>
                </form>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

    <!--================Product Description Area =================-->
	<section class="product_description_area">
		<div class="container">
			{# <ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
					 aria-selected="false">Comment l'obtenir ?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
					 aria-selected="false">Avis</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<p>{{ product.detail |raw }}</p>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					 <div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td>
										<h2>Quelle garantie offrez-vous sur vos produits ?</h2>
										<p>Nous offrons une garantie de 60 jours sur tous nos produits. Cela couvre tout défaut de fabrication ou problème rencontré dans des conditions normales d'utilisation. Si vous rencontrez un souci avec votre achat, contactez-nous pour bénéficier de notre service après-vente.</p>
									</td>
								</tr>
								<tr>
									<td>
										<h2>Comment puis-je faire valoir la garantie ?</h2>
										<p>Pour faire valoir votre garantie, il suffit de nous contacter avec votre preuve d'achat et une description du problème. Nous nous engageons à résoudre le problème dans les meilleurs délais, que ce soit par un échange ou une réparation.</p>
									</td>
								</tr>
								<tr>
									<td>
										<h2>Quels sont les modes de livraison disponibles ?</h2>
										<p>Nous proposons plusieurs options de livraison, incluant la livraison standard, express, et livraison gratuite à partir d'un certain montant d'achat. Les délais et coûts varient en fonction de votre localisation et du mode de livraison choisi.</p>
									</td>
								</tr>
								<tr>
									<td>
										<h2>Puis-je suivre mon colis après l'expédition ?</h2>
										<p>Oui, une fois votre commande expédiée, vous recevrez un e-mail de confirmation avec un numéro de suivi vous permettant de suivre votre colis en temps réel.</p>
									</td>
								</tr>
								<tr>
									<td>
										<h2>Livrez-vous à l'international ?</h2>
										<p>Oui, nous offrons la livraison internationale dans de nombreux pays. Les frais et délais de livraison varient en fonction de la destination.</p>
									</td>
								</tr>
								<tr>
									<td>
										<h2>Qu'est-ce que l'accès à vie ?</h2>
										<p>L'accès à vie signifie que, après l'achat de certains produits (notamment numériques tels que les e-books, cours en ligne, ou logiciels), vous aurez un accès illimité à ces contenus sans durée d'expiration. Vous pourrez les consulter et les télécharger à tout moment.</p>
									</td>
								</tr>
								<tr>
									<td>
										<h2> Comment fonctionne l'accès à vie pour mes achats numériques ?</h2>
										<p>Après votre achat, un mail avec le contenu téléchargeble vous sera envoyé. Vous pourrez y accéder quand vous le souhaitez, et ce, pour toujours. Aucun abonnement ou frais supplémentaire ne sera requis pour garder l'accès.</p>
									</td>
								</tr>
								<tr>
									<td>
										<h2>Quels sont les modes de paiement acceptés ?</h2>
										<p>Nous acceptons plusieurs modes de paiement, incluant Orange Money, MoMo, Moov, Wave, les cartes de crédit (Visa, Mastercard, American Express), et certains systèmes de paiement locaux. Tous nos paiements sont sécurisés et cryptés pour protéger vos informations.</p>
									</td>
								</tr>
								<tr>
									<td>
										<h2>Mes informations de paiement sont-elles sécurisées ?</h2>
										<p>Absolument ! Nous utilisons des systèmes de paiement sécurisés qui garantissent la protection de vos données personnelles et bancaires. Toutes les transactions sont cryptées avec des protocoles de sécurité de pointe.</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					{{ include('features.html.twig') }}
				</div>
				<div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
					<div class="row">
						<div class="col-lg-6">
							<div class="row total_rate">
								<div class="col-6">
									<div class="box_total">
										<h5>Total</h5>
										<h4>{% if comments|length > 0 %}{% set foo = 0 %}{% for rs in comments %} {% set foo = foo + rs.rate %} {% endfor %} {{ (foo / comments|length)|number_format(1, '.', ',') }}{% endif %}</h4>
										<h6>({{comments|length}}) Notes</h6>
									</div>
								</div>
								
							</div><br>
							<div class="review_list">
                                {% for rs in comments %}
								<div class="review_item">
									<div class="media">
                                        
											{% if rs.author.image is not null %}
                                                  <div class="d-flex">
                                                        <img src="{{asset('uploads/images/' ~ rs.author.image)}}" style="vertical-align: middle;width: 50px;height: 50px;border-radius: 50%;" alt="avatar-{{rs.author.name}}">
                                                  </div>
											{% else %}
												<div class="d-flex">
													<img src="{{asset('assets/client/img/avatar.jpg' )}}" style="vertical-align: middle;width: 50px;height: 50px;border-radius: 50%;" alt="avatar">
												</div>
                                            {% endif %}
                                        
										
										<div class="media-body">
											<h4></h4>
                                            {% for i in 1.. rs.rate %}
											<i class="fa fa-star"></i>
                                            {% endfor %}
										</div>
									</div>
                                    {% if rs.author is not null %}
                                    	<h5>{{rs.author.name}}</h5> 
                                    {% endif %}
									<p>{{rs.comment}}</p>
								</div>
                                {% endfor %}
							</div>
						</div>
                        {% if app.user %}
						<div class="col-lg-6">
                        {{ include('messages.html.twig') }}
							<div class="review_box">
								<h4>Ajouter votre commentaire</h4>
								{{form_start(form)}}
                                {{ form_widget(form) }}
                                <div class="col-md-12 text-right">
										 <button class="primary-btn">{{ button_label|default('Envoyez') }}</button>
									</div>
                               
                                {{form_end(form)}}
							</div>
						</div>
                        {% else %}
                            <a href="{{path('app_login')}}"><i class="fa fa-lock"></i>Si vous voulez laisser un avis connectez-vous svp</a>
                        {% endif %}
					</div>
				</div>
			</div> #}
			<div class="container">
				<div class="tab-pane" >
					<div class="head py-2 my-2">
						<h2 class="text-center text-white">Plus De détails</h2>
						</div>
					<p>{{ product.detail |raw }}</p>
				</div>
				{% if product.modules %}
					<div class="tab-pane">
						<div class=" py-2 my-2">
						<h2 class="text-center">Cours Dans Cette Formation</h2>
						</div>
						{% for module in product.modules %}
							<div class="card">
								<div class="filter-bar d-flex flex-wrap align-items-center">
									<div class="sorting">
										<p class="h4 text-white">{{ module.title }}</p>
									</div>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-sm-12 col-md-1">
										 <p class="text-center"><i class="fa fa-hdd-o" style="font-size:40px;"></i></p>
										</div>
										<div class="col-sm-12 col-md-11">
											<p class="lead">{{module.description}}</p>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
				<br>
				<div class="tab-pane">
					{{ include('features.html.twig') }}
				</div>
				<div class="tab-pane">
					<div class="head py-2 my-2">
					<h2 class="text-center text-white">Ils Ont Essayé...</h2>
					</div>
					<div class="row">
						<div class="col-lg-12">
							
							<div class="review_list">
                                {% for rs in comments %}
								<div class="review_item">
									<div class="media">
                                        
											{% if rs.author.image is not null %}
                                                  <div class="d-flex">
                                                        <img src="{{asset('uploads/images/' ~ rs.author.image)}}" style="vertical-align: middle;width: 50px;height: 50px;border-radius: 50%;" alt="avatar-{{rs.author.name}}">
                                                  </div>
											{% else %}
												<div class="d-flex">
													<img src="{{asset('assets/client/img/avatar.jpg' )}}" style="vertical-align: middle;width: 50px;height: 50px;border-radius: 50%;" alt="avatar">
												</div>
                                            {% endif %}
                                        
										
										<div class="media-body">
											<h4></h4>
                                            {% for i in 1.. rs.rate %}
											<i class="fa fa-star"></i>
                                            {% endfor %}
										</div>
									</div>
                                    {% if rs.author is not null %}
                                    	<h5>{{rs.author.name}}</h5> 
                                    {% endif %}
									<p>{{rs.comment}}</p>
								</div>
                                {% endfor %}
							</div>
						</div>
						<div class="col-sm-12">
						{{include('reviews.html.twig')}}
						</div>
                        {% if app.user %}
						<div class="col-lg-6">
                        {{ include('messages.html.twig') }}
							<div class="review_box">
								<h4>Ajouter votre commentaire</h4>
								{{form_start(form)}}
                                {{ form_widget(form) }}
                                <div class="col-md-12 text-right">
										 <button class="primary-btn">{{ button_label|default('Envoyez') }}</button>
									</div>
                               
                                {{form_end(form)}}
							</div>
						</div>
                        {% else %}
                            <a href="{{path('app_login')}}"><i class="fa fa-lock"></i>Si vous voulez laisser un avis connectez-vous svp</a>
                        {% endif %}
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!--================End Product Description Area =================-->

	 <!--================Related Product Area =================-->
	 <!-- Start Best Seller -->
	 
	 <section class="lattest-product-area pb-40 category-list px-5">
	 <div class="head py-2 my-2">
	 	<h2 class="text-center text-white">Formations Similaires</h2>
	 </div>
		<div id="productList" class="row">
		{% if relatedProducts|length > 0 %}
		{% for product in relatedProducts %}
			<!-- single product -->
			<div  data-price="{{product.price}}" class="single-product col-lg-4 col-md-6">

					<a href="{{ path('product_show', {'id': product.id}) }}" class="social-info">
						<div class="scene" style="height: 300px;width: 200px;">
							<div class="dvd-box">
								<div class="cover front" style="background-image: url('{{ asset('uploads/images/' ~ product.image) }}');">{{product.title}}</div>
								<div class="cover back"></div>
								<div class="spine"><span class="vertical-text">{{product.title}}</span></div>
							</div>
						</div>
					</a>
					<div class="product-details">
						<h6>{{product.title}}</h6>
						<div class="price">
							<h6>{{product.price}}</h6><h6> XAF</h6>
							<h6 class="l-through">{{product.price + (product.price * 0.8) }} XAF</h6>
						</div>
						<div class="prd-bottom">

							<a href="{{path('shopcart_new', {'productId':product.id})}}" class="social-info">
								<span class="ti-bag"></span>
								<p class="hover-text">Ajouter au panier</p>
							</a>
							<a href="{{path('user_toggle_favorite', {'id': product.id })}}" class="social-info">
								<span class="lnr lnr-heart"></span>
								<p class="hover-text">Favorie</p>
							</a>
							{# <a href="" class="social-info">
								<span class="lnr lnr-sync"></span>
								<p class="hover-text">compare</p>
							</a> #}
							<a href="{{ path('product_show', {'id': product.id}) }}" class="social-info">
								<span class="lnr lnr-move"></span>
								<p class="hover-text">voir plus</p>
							</a>
						</div>
					</div>
				
			</div>
		{% endfor %}
		{% else %}
		<div class="col-12">
			<blockquote class="generic-blockquote">
				Aucun produit trouvé!
			</blockquote>
		</div>
		{% endif %}
		</div>
	</section>
	<!-- End Best Seller -->
	 <script src="{{asset('assets/client/js/countdown.js')}}"></script>
	 {% if event is not null %}
	
		<script>
			// Parse the event start and end times
			
				var startAt = new Date("{{ event.startAt | date('Y-m-d H:i:s') }}");
			    var endAt = new Date("{{ event.endAt | date('Y-m-d H:i:s') }}");
			
			

			// Calculate the total event duration (in milliseconds)
			var totalDuration = endAt - startAt;

			// Calculate the time elapsed since the event started
			var now = new Date();
			var timeElapsed = now - startAt;

			// Calculate the remaining time by subtracting the elapsed time from the total duration
			var remainingTime = totalDuration - timeElapsed;

			// Set the deadline to the current time plus the remaining time
			var deadline = new Date(now.getTime() + remainingTime);
				initializeClock('clockdiv{{event.id}}', deadline);
			
			
		</script>
		{% else %}
		<script>
			// Parse the event start and end times
			var startAt = new Date();
			var endAt = new Date(Date.now() + 3600 * 1000 * 24); 
			
			

			// Calculate the total event duration (in milliseconds)
			var totalDuration = endAt - startAt;

			// Calculate the time elapsed since the event started
			var now = new Date();
			var timeElapsed = now - startAt;

			// Calculate the remaining time by subtracting the elapsed time from the total duration
			var remainingTime = totalDuration - timeElapsed;

			// Set the deadline to the current time plus the remaining time
			var deadline = new Date(now.getTime() + remainingTime);
			
				initializeClock('clockdiv', deadline);
			
			
		</script>
		{% endif %}
{% endblock %}
