<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
                    {% set count = 0 %}
                    {% for rs in slider %}
                        {% set count = count+1 %}
						<!-- single-slide -->
						<div class="row single-slide {% if count == 1 %} active {% endif %}">
							<div class="col-lg-7 col-sm-7 my-5">
								<div class="banner-img">
								<a href="{{ path('product_show', {'id': rs.id}) }} ">
									<div class="scene">
										<div class="dvd-box">
											<div class="cover front" style="background-image: url('{{ asset('uploads/images/' ~ rs.image) }}');"></div>
											<div class="cover back"></div>
											<div class="spine"><span class="vertical-text">{{rs.title}}</span></div>
										</div>
									</div>
                                </a>
                                    
								</div>
							</div>
							<div class="col-lg-5 col-sm-5 my-5">
								<div class="banner-content">
									<h1>{{rs.title}}</h1>
									<p>{{rs.description}}</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href="{{path('shopcart_new', {'productId':rs.id})}}"><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Ajouter au panier</span>
									</div>
								</div>
							</div>
							
						</div>
                    {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->