{% extends 'homebase.html.twig' %}

{% block title %} Shopcart{% endblock %}

{% block body %}
 <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Mon Panier</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{{path('home')}}">Accueil<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{{path('shopcart_index')}}">Mon panier</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    
    {{ include('messages.html.twig') }}

     <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% set total = 0 %}
                            {% for shopcart in shopcarts %}
                            <tr>
                                <td>
                                    <div class="media">
                                    
                                        <div class="d-flex">
                                            <div class="scene" style="height: 200px;width: 100px;">
                                                <div class="dvd-box">
                                                    <div class="cover front" style="background-image: url('{{ asset('uploads/images/' ~ shopcart.product.image) }}');">{{shopcart.product.title}}</div>
                                                    <div class="cover back"></div>
                                                    <div class="spine"><span class="vertical-text">{{shopcart.product.title}}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <p>{{shopcart.product.title}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>{{shopcart.product.price}} XAF</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="number" name="qty" id="sst" max="{{shopcart.product.amount}}" min="1" value="{{shopcart.quantity}}" title="Quantité:"
                                            class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) && sst < {{shopcart.product.amount}} ) result.value++;return false;"
                                            class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                            class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                    </div>
                                    <p style="color:tomato;" >{{ shopcart.quantity > shopcart.product.amount ? 'Stock insufissant': '' }}</p>
                                </td>
                                <td >
                                    <h5>{{ shopcart.product.price * shopcart.quantity }}</h5>
                                    
                                </td>
                                <td>
                                        <a href="{{ path('shopcart_del', {'id': shopcart.id is defined ? shopcart.id:shopcart.product.id}) }}" onclick="return confirm('Voulez vous retirez ce produit de votre panier?');" class="genric-btn danger radius" >Retirer</a>
                                </td>
                            
                                
                            </tr>
                            {% set total = total + (shopcart.quantity * shopcart.product.price) %}
                            {% else %}
                            <tr>
                                <td colspan="6"> <b>Votre panier est vide</b></td>
                            </tr>
                            {% endfor %}
                            {#<tr class="bottom_button">
                                <td>
                                    <a class="gray_btn" href="{{path('shopcart_index')}}">MAJ mon panier</a>
                                </td>
                                <td>

                                </td>
                               <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="cupon_text d-flex align-items-center">
                                        <input type="text" placeholder="Coupon Code">
                                        <a class="primary-btn" href="#">Appliquer</a>
                                        <a class="gray_btn" href="#">Annuler</a>
                                    </div>
                                </td>
                            </tr>#}
                            <tr>
                                <td>
                                    <h5>Sous-Total</h5>
                                </td>
                                <td>
                                    <h5>{{total}} XAF</h5>
                                </td>
                                <td>

                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr class="shipping_area">
                                <td>
                                    <h5>Livraison</h5>
                                </td>
                                <td>
                                    <div class="shipping_box">
                                        <ul class="list">
                                            <li class="active"><a href="#">Livraison: Aux frais du client </a></li>
                                        </ul>
                                        {#<a class="gray_btn" href="#">Update Details</a>#}
                                    </div>
                                </td>
                                <td>

                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td>

                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" href="{{ path('home') }}">Continuez les boutiques</a>
                                        <a class="primary-btn" href="{{ path('orders_new') }}">Finalisez</a>
                                    </div>
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
    <!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{{asset('assets/client/img/features/1.png')}}" style="height:50px" alt="">
						</div>
						<h6>Ajoutez Au Panier</h6>
						<p>Autant que vous le pouvez</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{{asset('assets/client/img/features/2.png')}}" style="height:50px" alt="">
						</div>
						<h6>Commandez</h6>
						<p>En un click</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{{asset('assets/client/img/features/3.png')}}" style="height:50px" alt="">
						</div>
						<h6>Payez</h6>
						<p>Par OM, MoMo, Moov, etc.</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{{asset('assets/client/img/features/4.png')}}" style="height:50px" alt="">
						</div>
						<h6>Téléchargez</h6>
						<p>Ou reçevez par email</p>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}
