{% extends 'homebase.html.twig' %}

{% block title %}Orders index{% endblock %}

{% block body %}
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Mes commandes</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{{path('home')}}">Accueil<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">Mes commandes</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    {{ include('messages.html.twig') }}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="left-sidebar">
                        <div class="brands_products"><!--brands_products-->

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Amount</th>
                                    <th>City</th>
                                    <th>Shipinfo</th>
                                    <th>Phone</th>
                                   
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>{{ order.id }}</td>
                                        <td>{{ order.amount }} FCFA</td>
                                        <td>{{ order.city }}</td>
                                        <td>{{ order.shipinfo }}</td>
                                        <td>{{ order.phone }}</td>
                                        <td>{{ order.status }}</td>
                                        <td>
                                            <a href="{{ path('orders_show', {'id': order.id}) }}" class="genric-btn info circle arrow">Voir</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="13">no records found</td>
                                    </tr>
                                {% endfor %}

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
