{% extends 'homebase.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Commande #{{order.id}}</h1>
					<nav class="d-flex align-items-center">
						<a href="{{path('home')}}">Accueil<span class="lnr lnr-arrow-right"></span></a>
						<a href="/orders">Mes commandes<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">Commande #{{order.id}}</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	{{ include('messages.html.twig') }}
    <!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container">
			<h3 class="title_confirmation">Merci. Votre commande à bien été reçu.</h3>
			{% if order.isPaid %}
				<div style="height:100px;width:100%;">
						<img src="{{asset('assets/client/img/paid.png')}}" alt="muzeum-logo">
				</div>
			{% else %}
				<div class="my-3 d-flex justify-content-center">
                    <a class="primary-btn" href="{{ order.paymentLink }}">Procéder Au Paiement</a>
                </div>
			{% endif %}
			<div class="row order_d_inner">
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Info de la commande</h4>
						<ul class="list">
							<li><a href="#"><span>Numéro de la commande</span> : #{{order.id}}</a></li>
							<li><a href="#"><span>Date</span> : {{order.createdAt|date('d M Y H:i:s')}}</a></li>
							<li><a href="#"><span>Total</span> : {{order.amount}} XAF</a></li>
                            <li><a href="#"><span>Statut</span> : {{order.status}}</a></li>
							<li><a href="#"><span>Payé</span> : {{order.isPaid ? 'Oui':'En attente du paiement'}}</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Addresse de facturation</h4>
						<ul class="list">
                            <li><a href="#"><span>Client</span> : {{order.name}}</a></li>
							<li><a href="#"><span>Rue</span> : {{order.shipinfo}}</a></li>
							<li><a href="#"><span>Ville</span> : {{order.city}}</a></li>
							<li><a href="#"><span>Téléphone </span> : {{order.phone}}</a></li>
                            <li><a href="#"><span>Email </span> : {{order.address}}</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Addresse de livraision</h4>
						<ul class="list">
							<li><a href="#"><span>Client</span> : {{order.name}}</a></li>
							<li><a href="#"><span>Rue</span> : {{order.shipinfo}}</a></li>
							<li><a href="#"><span>Ville</span> : {{order.city}}</a></li>
							<li><a href="#"><span>Téléphone </span> : {{order.phone}}</a></li>
                            <li><a href="#"><span>Email </span> : {{order.address}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Produit</th>
								<th scope="col">Quantité</th>
								<th scope="col">Total</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
                        {% for detail in orderdetail %}
							<tr>
								<td>
									<p>{{detail.name}}</p>
								</td>
								<td>
									<h5>x {{detail.quantity}}</h5>
								</td>
								<td>
									<p>{{ detail.price * detail.quantity }} XAF</p>
								</td>
								{% if order.isPaid %}<td><a href="{{ path('product_download', {'id': detail.product.id })}}" class="btn btn-info">Télécharger<i class="lnr lnr-download"></></a></td>{% endif %}
							</tr>
                        {% endfor %}
							<tr>
								<td>
									<h4>Subtotal</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td colspan="2">
									<p>XAF {{order.amount}}</p>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Frais de livraison</h4>
								</td>
								<td>
									
								</td>
								<td colspan="2">
									<p>Aux Frais Du Client</p>
								</td>
							</tr>
							
							<tr>
								<td>
									<h4>Total</h4>
								</td>
								<td>
									
								</td>
								<td colspan="2">
									<p>{{order.amount}} XAF</p>
								</td>
							</tr>
							<tr>
							<td></td>
							<td></td>
								<td>
									
								</td>
							</tr>
						</tbody>
					</table>
					{% if not order.isPaid %}
						<div class="checkout_btn_inner d-flex justify-content-center">
							<a class="primary-btn" href="{{ order.paymentLink }}">Procéder Au Paiement</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
	<!--================End Order Details Area =================-->
    {% endblock %}
