{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }} Profile{% endblock %}

{% block body %}
<!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Mon Profile</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{{path('home')}}">Accueil<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">Mon profile</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <section>
        <div class="container">
            <div class="row">
               
                <div class="col-sm-12">

                    <div class="left-sidebar">
                        <div class="brands_products"><!--brands_products-->
                            <table class="table">
                                <tbody>
                                 <tr>
                                    <th>Photo de profile</th>
                                    <td>{% if app.user.image %}<img src="{{ asset('uploads/images/' ~ app.user.image) | imagine_filter('shopcart_thumb')}}" alt="avatar">{% else %} Aucune de photo de profile {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ app.user.email }}</td>
                                </tr>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ app.user.name }}</td>
                                </tr>
                                <tr>
                                    <th>Prénom</th>
                                    <td>{{ app.user.surname }}</td>
                                </tr>
                               
                                <tr>
                                    <th>Ville</th>
                                    <td>{{ app.user.city }}</td>
                                </tr>
                                <tr>
                                    <th>Téléphone</th>
                                    <td>{{ app.user.phone }}</td>
                                </tr>
                                <tr>
                                    <th>Statut</th>
                                    <td>{{ app.user.status ? 'Activé': 'Désactivé' }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="{{ path('user_edit', {'id': app.user.id}) }}" class="genric-btn success circle arrow">Modifier mon profile</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
